<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714651199338-5a28b01unn7biklgkcs502da27mmdurr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714651199338-5a28b01unn7biklgkcs502da27mmdurr</string>
	<key>API_KEY</key>
	<string>AIzaSyDDPud50VZ-olFPpIuvL_IxPNca8nHwgls</string>
	<key>GCM_SENDER_ID</key>
	<string>714651199338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aunsh.theChatApp</string>
	<key>PROJECT_ID</key>
	<string>the-chat-app-51b</string>
	<key>STORAGE_BUCKET</key>
	<string>the-chat-app-51b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714651199338:ios:e04855c5d5cbf41a86e713</string>
</dict>
</plist>