<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714651199338-ogs7lrk4m67n0a0luu1t59thk2ssblnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714651199338-ogs7lrk4m67n0a0luu1t59thk2ssblnr</string>
	<key>API_KEY</key>
	<string>AIzaSyDDPud50VZ-olFPpIuvL_IxPNca8nHwgls</string>
	<key>GCM_SENDER_ID</key>
	<string>714651199338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theChatApp</string>
	<key>PROJECT_ID</key>
	<string>the-chat-app-51b</string>
	<key>STORAGE_BUCKET</key>
	<string>the-chat-app-51b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714651199338:ios:5743ee83f0acc2c386e713</string>
	<key>DATABASE_URL</key>
	<string>https://the-chat-app-51b-default-rtdb.firebaseio.com</string>
</dict>
</plist>